@use "../styles/abstracts/variables" as *;
.info {
	z-index: 3;
	width: 18rem;
	padding: 1rem;
	background-color: #fef9ed;
	border-radius: 1rem;
	box-shadow: 5px 5px 20px rgba(54, 66, 44, 0.1);
	// text-align: justify;
	flex-direction: column;
	gap: 0.5rem;
	display: flex;
	font-size: 1rem;

    .btn{
        &_group {
            display: flex;
            gap: 0.5rem;
            margin-top: auto;
            button {
                flex: 1;
                text-align: center;
                padding: 0.4rem;
                background-color: $clr-brown-light;
                color:  $clr-brown-dark;
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                &.btn_delete {
                    flex: 0.5;
                    // justify-self: unset;
                    background-color: #dd352e;
                }
            }
		}
        
        
	}
	.rating {
		display: inline-flex;
		gap: 0.5rem;
	}
}
