@use "../styles/abstracts/variables" as *;
@use "sass:color";

.map_content {
	&-container {
		position: relative;
		height: calc(100vh - 100px + 1rem);
	}
	&-sidebar {
		position: absolute;
		left: 0;
		top: 0;
		width: 300px;
		height: 100%;
		background-color: $clr-secondary;
		padding-inline: 1rem;
		padding-top: 1rem;
		z-index: 2;
		transition: transform 0.5s;
		transform: translateX(-100%);
		&.open {
			transform: translateX(0);
		}
	}
	&-map {
		height: 100%;
		position: relative;
		z-index: 1;

		.add_btn {
			width: 100px;
			background-color: #5a7d68;
			color: #f4f1de;
			padding: 10px;
			border-radius: 0.5rem;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
			cursor: pointer;
			transform: translateX(-50%);
			text-align: center;
			margin-top: 0.5rem;
			font-size: 0.8rem;
		}
	}
}

// 附近地點選擇列表樣式
.panel{

    &_nearby {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 300px;
        max-height: 31.25rem;
        overflow-y: auto;
        background: $clr-secondary;
        border-radius: .5rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        z-index: 50;
        color: $clr-tertiary;
        h3 {
            margin-bottom: 0.6rem;
            font-size: 1.2rem;
        }
        p {
            margin-bottom: 15px;
            font-size: 0.875rem ;
            letter-spacing: .5px;
            color: color.adjust($clr-tertiary, $lightness: 20%);
        }
    }
    &_btn {
        margin-top: 15px;
        text-align: right;
    
        button {
            padding: 8px 16px;
            background: $clr-tertiary;
            border: none;
            border-radius: 4px;
            color: $clr-secondary;
            // cursor: pointer;
    
            &:hover {
                // background: #e0e0e0;
            }
        }
    }
    
}

.place{
    &_item {
        padding: 12px;
        border-bottom: 1px solid color.adjust($clr-secondary, $lightness: -8%);
        cursor: pointer;
        transition: background-color 0.2s;
    
        &:hover {
            background-color:color.adjust($clr-secondary, $lightness: 5%);
        }
    
        &.selected {
            background-color: color.adjust($clr-secondary, $lightness: 10%);
            border-left: 3px solid $clr-yellow;
        }
    
        &:last-child {
            border-bottom: none;
        }
    }
    &_name {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 4px;
    }
    &_address {
        color: color.adjust($clr-tertiary, $lightness: 20%);
        font-size: 0.875rem;
        margin-bottom: 4px;
    }
}


/* 移除 InfoWindow 默認樣式 */
// .gm-style-iw {
//     padding: 0 !important;
//     background: transparent !important;
//     box-shadow: none !important;
//     border: none !important;
//   }
  
//   .gm-style-iw-d {
//     overflow: visible !important;
//     padding: 0 !important;
//   }
  
//   .gm-style-iw-c {
//     background: none !important;
//     box-shadow: none !important;
//   }
  
//   .gm-style .gm-style-iw-t::after {
//     display: none !important; /* 移除指向標記的三角形 */
//   }